html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: arial;
    background-color: rgb(25, 25, 25);
    text-align: center;
}

hr {
    margin: 0 auto;
}

#menu
{
    margin: 0;
    border: 0;
    padding: 0;
}

#head_nav
{
    margin: 0;
    border: 0;
    padding: 0;
}

#title:hover
{
    float: left;
    margin-top: 0px;
    font-family: Arial;
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    color: rgb(36, 36, 36);
    margin-right: 12px;
}

#head_nav_icon
{
    height: 20px;
    width: 190px;
    padding: 20px;
    margin-top: 0px;
    font-size: 22px;
    font-family: arial;
    text-align: center;
    color: rgb(230,230,230);
    background-color:  rgb(25,25,25);
}

#head_nav_icon:hover
{
    height: 20px;
    width: 190px;
    padding: 20px;
    margin-top: 0px;
    font-size: 22px;
    font-family: arial;
    text-align: center;
    cursor: pointer;
    color: rgb(25,25,25);
    background-color: rgb(230,230,230);
}

#map 
{
    width: 100%;
    height: 91%;
    margin: 0;
    border: 0;
    padding: 0;
}


#left_nav {
    width: 200px;
    height: 600px;
    float: left;
    text-align: left;
    border: none;
}

#footer {
    color: rgb(230,230,230); 
}

p {
    line-height: 30px;
}